/* General styles of the body for all windows */
body {
    margin: 0;  /* Overall margin for the main window */ 
    /*'Nunito', 'Poppins',*/
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif; 
	 
	/*font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 20px;
line-height: 1.67em;*/
font-weight: 300;
} 

* {
    box-sizing: border-box; /* Include borders, padding etc... in element size */ 
}


/* *************  COLORS  ************* */
:root{
	--text-color: #212121;
	--emphasis-darkest: #145555;
	--emphasis-darker: #187171;
	--emphasis-color: #1b7e7e; 
	--negative-color: #bf0404; 
	--link-color: #1a6fb4;  
	--link-hover: #125c9b;  
	--solid-bright: #28bdbd;  
	--bground-color: #e6f7f7;
	--bground-lighter: #f7ffff;
	--bground-lightest: #f9f9f9;
}
 

/* *************  GENERAL  ************* */
.clickable {
	cursor: pointer;
}


.hidden {
  display: none !important;
} 




 