/* |===============================================| */
/* |                                               | */
/* |    General Page Setup (below top row tabs)    | */
/* |                                               | */
/* |===============================================| */



/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------- General & Main Container ---------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* *
    --> .mainpage-parent is the dynamic container for each page (home, about, research... pages)

    --> Upon clicking a tab in the top row (outside of .mainpage-parent), .mainpage-parent is places inside the static parent container .mainWindow-pageContent (defined in index.css)
    
    --> Each .mainpage-parent contains 2 parts:
        1) .across-page-banner: the bubble at the top of the page that is shared across pages
        2) .mainpage-content: the container with content specific to each page 
* */
 
 

.mainpage-parent {
	max-width: 960px;
	margin: 0 auto;
	padding:  0rem 1.5rem;	
	line-height: 1.6; 
}


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ------------- Shared Alert Banner ------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.mainpage-parent .across-page-banner {
	text-align: justify;
    text-justify: inter-word;
    padding: 7px 20px;
    background-color: var(--bground-color);
    color: var(--emphasis-darkest);
    border: 2px solid var(--emphasis-color);
    border-radius: 12px;
    font-weight: 600; 
    line-height: 1.4;
    font-size: 15px;
    margin-top: 1.5em;
} 


.mainpage-parent .across-page-banner  a {
  color: var(--link-color);
  text-decoration: underline;
}
.mainpage-parent .across-page-banner  a:hover,
.mainpage-parent .across-page-banner  a:focus {
  color: var(--link-hover);
  text-decoration: none;
}



 

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ------------ Page-Specific Content ------------ */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.mainpage-parent .mainpage-content { 
	margin-top: 1rem;
} 


/* ---------------------------------------------------- */
/* -------- Section Headers  (normal and tab) --------- */
/* ---------------------------------------------------- */ 
/* * 
    --> Section Headers for Sections WITHIN each page content
    --> 2 Types:
        1) Horizontal divider placed along the page (e.g. how you divide a book/paper section)
        2) Tab-style listed at the top of the page, that dynamically shows 1 tab at a time   
* */

/* General Section Header style (both types) */
.mainpage-parent .mainpage-content .section-header {
	font-size: 1.6rem;
	font-weight: bold;
	/*margin: 0.5rem 0 1rem 0; *//* top right bottom left */ 
	border-bottom: 2px solid var(--emphasis-color);
	padding-bottom: 0.5rem;
}

/* Tab-style Section Headers */ 
.mainpage-parent .mainpage-content .tab-sectionheader-container { /* Container for tab headers  */
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #ddd;
	font-size: 1.6rem;
    margin-top: 1.5em;
}
.mainpage-parent .mainpage-content .tab-sectionheader-container .section-header.tab-sectionheader  { /* Additional style for tab headers  */
	padding-left: 1rem;
	padding-right: 1rem;  
	cursor: pointer;  
}
.mainpage-parent .mainpage-content .tab-sectionheader-container .section-header.tab-sectionheader:not(.jscs-tab-active) {	/* Active tab headers  */
	font-weight: normal;
	border-bottom: none;
}
 
 
/* ------------------------------------------------------- */
/* ----- Section Content Containers (normal and tab) ----- */
/* ------------------------------------------------------- */

/* General (Shared) Section Content Container */
.mainpage-parent .mainpage-content .section-content {
	margin-bottom: 3rem;
} 
  
 
/* Tab Section Content: JS-CS Interface to toggle tabs */ 
.mainpage-parent .mainpage-content .section-content.tab-sectioncontent {
	display: none;
}
.mainpage-parent .mainpage-content .section-content.tab-sectioncontent.jscs-tab-active {
	display: block;
}
  

/* ---------------------------------------------------- */
/* --- Section Sub-Headers  (normal and accordion) ---- */
/* ---------------------------------------------------- */ 
 

/* Normal Subheader */
.mainpage-parent .mainpage-content .section-content .section-subheader {
	font-size: 1.3rem;
	font-weight: bold;   
	color: var(--emphasis-darker);
	font-family: Georgia;  
	letter-spacing: 0.5px; /* Slight spacing between characters for clarity */
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);  /* Soft shadow for depth */     
	margin-top: 3rem;
}
.mainpage-parent .mainpage-content .section-content .section-subheader:first-child { 
	margin-top: 1em;
}
 

/* * * ACCORDION * * */ 
/* Accordion Container */
.mainpage-parent .mainpage-content .section-content .accordion { 
    margin: 0.5em;
    padding: 0.5em 1em; /* Vertical Horizontal */     
	border: 1px solid var(--solid-bright);
	border-radius: 20px; 
	background: var(--bground-lightest);     
}

/* Accordion Subheader 
(modification to main Subheader .section-subheader of which it also inherits the properties) */ 
.mainpage-parent .mainpage-content .section-content .accordion-subheader.section-subheader { 
	font-size: 1.15rem;          
	cursor: pointer;     
	margin-top: 0em;  
	margin-bottom: 0em;  
}
  
 

/* ----------------------------------------------- */
/* ---- Section content: Layout/Text Styles  ----- */
/* ----------------------------------------------- */


/* * * TEXT PARAGRAPHS * * */

p.justify{
	color: 	var(--text-color); 
	font-size: 16px;
	line-height: 2em;   
    margin-block-start: 1.25em;
    margin-block-end: 1.75em;
	text-align: justify;
}

/* If the paragraphs have to be split into different divs, it creates additional vertical space between them - use this in the last paragraph in div to mimicks continuation (end-start margin block) [do not change values] */ 
p.justify.small-bottom-margin{ 
    margin-block-end: 0.5em;	
}
  
/* Sub-Sub-header (ie just a paragraph title) */
span.paragraph-title{ 
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0px; /* Slight spacing between characters for clarity */
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);  /* Soft shadow for depth */ 
    text-decoration: underline;
	color: var(--emphasis-color); 
    
}

/* * *  LISTS  * * */ 

/* * * Bullet-Point Lists in Main Text Content                       (ul.bulletlist li) * * */
/* Vertical space between consecutive <li> */
.mainpage-parent .mainpage-content .section-content ul.bulletlist li + li{
    margin-top: .5rem;
} 
  


/* * * BY-WORD TEXT STYLES * * */

/* Custom emphasis class for highlighted words */
.emphasis { 
	color: var(--emphasis-color); 
}
strong.emphasis { 
	/*font-family: Georgia; 
	font-size: 16px;*/
	font-weight:600;
	letter-spacing: 0px; /* Slight spacing between characters for clarity */
	/*text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1); */ /* Soft shadow for depth */ 
	color: var(--emphasis-color); 
}
 
/* * *  TEXT MODIFICATIONS  * * */ 
.rotate-180 {
	transform: rotate(180deg);
}

 

/* * *  LINKS  * * */ 

a {  /* link */
	color: var(--link-color); 
    transition: filter 0.15s ease;
}  

a .callout-arrow,
a.callout-arrow {
    text-decoration: none;
}

a:hover {
	filter: brightness(1.15);   /* lighter */
	/* or */
	/* filter: brightness(0.85);  darker */
}
 



/* ----------------------------------------------- */
/* ------------- Inline Elements Row  ------------ */
/* ----------------------------------------------- */
 /* sets up row with inline objects
   - image next to text
   - images next to each other  
   ...  */
.mainpage-parent .mainpage-content .section-content .inline-el-row{
	display: flex;			/* put the four images on one line        */
	justify-content: space-between;	/* spread any leftover width equally    */ 
	gap: 1.5rem; /*  space between img & text  */	
	align-items: center; /* vertical center */ 
} 

.mainpage-parent .mainpage-content .section-content .inline-el-row .inline-img { 
	flex: 1 1 0;			/* each image gets an equal share of row */
	min-width: 0;			/* prevents flex “overflow” weirdness    */

	width: 100%;			/* fill the width it’s given by flexbox  */
	height: auto;			/* let height scale from the width       */

	object-fit: contain;		/* shrink proportionally without crop    */ 
    
	transition: transform 0.2s ease,
                filter 0.3s ease, 
                box-shadow 0.3s ease; 
        
}


.mainpage-parent .mainpage-content .section-content .inline-el-row .inline-img.clickable {
	cursor: pointer;
}

.mainpage-parent .mainpage-content .section-content .inline-el-row .inline-img:hover {
	transform: scale(1.05); 
}



.mainpage-parent .mainpage-content .section-content .inline-el-row .inline-text {
	flex: 1 1 300px;			/* take the remaining width */
} 

 
